<div ng-form name="locationForm" class="bauble-editor location-editor">

  <h3>{{location.str || 'New location'}}</h3>

  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-md-2" for="code-input">Code</label>
      <div class="col-md-2">
        <input type="text" ng-model="location.code" class="form-control" id="code-input"
               maxlength="10" placeholder="required" required/>
      </div>
    </div> <!-- .form-group -->

    <div class="form-group">
      <label class="control-label col-md-2" for="name-input">Name</label>
      <div class="col-md-6">
        <input type="text" ng-model="location.name" class="form-control" id="name-input"
               maxlength="64"/>
      </div>
    </div> <!-- .form-group -->

    <div class="form-group">
      <label class="control-label col-md-2" for="description-input">Description</label>
      <div class="col-md-6">
        <textarea ng-model="location.description" class="form-control" id="description-input" rows="3">
        </textarea>
      </div>
    </div> <!-- .form-group -->

  </form>

  <div class="action-buttons">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
  </div>

</div> <!-- .location-editor -->
