# pin oauthlib to 0.7.2 until flask-oauthlib works with 1.0
SQLAlchemy==1.0.4
attrdict
bcrypt
celery
cssmin
cytoolz
flask-appconfig
flask-assets
flask-babel
flask-login
flask-mail
flask-marshmallow
flask-migrate
flask-oauthlib
flask-script
flask-sqlalchemy
flask-sslify
flask-wtf
flask>=0.10.1,<0.11.0a0
gunicorn
marshmallow-sqlalchemy
marshmallow>=2.0.0b0
oauthlib==0.7.2
psycopg2
pycontracts
redis
requests
requests-oauthlib
webargs
webassets
webassets-babel
webassets-browserify
webassets-libsass
webassets-ng-annotate
