# pin oauthlib to 0.7.2 until flask-oauthlib works with 1.0
# attrdict
bcrypt
celery
cssmin
# cytoolz
flask-appconfig
flask-assets
flask-babel
flask-login
flask-mail
flask-marshmallow
flask-migrate
# flask-oauthlib
flask-script
flask-sqlalchemy
flask-sslify
flask-wtf
flask>=0.10.1,<0.11.0a0
gunicorn
libsass
marshmallow-sqlalchemy
marshmallow>=2.1.0
meinheld
# oauthlib==0.7.2
psycopg2
# pycontracts
pyparsing
# redis
requests
# requests-oauthlib
SQLAlchemy==1.0.12
webargs
# Use master of webassets until this commit makes it into a release:
# https://github.com/miracle2k/webassets/commit/f17787f15ea2f736d725b3fd1931df694717639
-e git+https://github.com/miracle2k/webassets.git#egg=webassets
webassets-babel
webassets-browserify
