<script type="text/ng-template" id="accession-typeahead.html">
  <div class="accession-typehead-match">
    <span class="accession-str" bind-html-unsafe="match.model.str | typeaheadHighlight:query"></span>
    <span class="taxon-str" bind-html-unsafe="match.model.taxon_str  | typeaheadHighlight:query"></span>
  </div>
</script>

<div ng-form name="plantForm" class="bauble-editor">

  <h3>{{header}}</h3>

  <tabset>
    <tab heading="General">
      <form class="form-horizontal">

        <div class="form-group">
          <label class="control-label col-md-2" for="accession-input">Accession</label>
          <div class="col-md-3">
            <input type="text" ng-model="model.accession"
                   placeholder="required" typeahead-editable="false"
                   typeahead="accession as accession.str for accession in getAccessions($viewValue)"
                   typeahead-input-formatter="model.accession.str"
                   typeahead-template-url="accession-typeahead.html"
                   typeahead-loading="loadingAccessions" class="form-control" required>
          </div>

        </div> <!-- .form-group -->

        <div class="form-group">
          <label class="control-label col-md-2" for="plant-code-input">Plant code</label>
          <div class="col-md-2">
            <input type="text" ng-model="plant.code" class="form-control"
                   placeholder="required"
                   id="plant-code-input" required/>
          </div>
        </div> <!-- .form-group -->

        <div class="form-group">
          <label class="control-label col-md-2" for="accession-type-input">Accession type</label>
          <div class="col-md-3">
            <select ng-model="plant.acc_type" class="form-control" id="accession-type-input"
                    ng-options="value as text for (value, text) in acc_type_values">
            </select>
          </div>
        </div> <!-- .form-group -->


        <div class="form-group">
          <label class="control-label col-md-2" for="memorial-input">Memorial</label>
          <div class="col-md-3">
            <input type="checkbox" ng-model="plant.memorial"/>
          </div>
        </div> <!-- .form-group -->

        <div class="form-group">
          <label class="control-label col-md-2" for="plant-quantity-input">Quantity</label>
          <div class="col-md-2">
            <input type="number" ng-model="plant.quantity" id="plant-quantity-input"
                   placeholder="required" class="form-control" required/>
          </div>
        </div> <!-- .form-group -->

        <div class="form-group">
          <label class="control-label col-md-2" for="location-input">Location</label>
          <div class="col-md-4">
            <input type="text" ng-model="model.location" id="location-input"
                   placeholder="required" typeahead-editable="false"
                   typeahead="location as location.str for location in getLocations($viewValue)"
                   typeahead-input-formatter="model.location.str"
                   typeahead-loading="loadingLocations" class="form-control" required>
          </div>
        </div> <!-- .form-group -->

        <div ng-if="'false'" class="editor-section">
          <!-- TODO: disabled until we add full support for recording plant changes -->
          <h4>Current change</h4>
          <div class="form-group">
            <label class="control-label col-md-2" for="chain-reason-input">Reason</label>
            <div class="col-md-6">
              <input type="text" ng-model="plant.change.reason" class="form-control"
                     placeholder="required" id="change-reason-input" required/>
            </div>
          </div> <!-- .form-group -->

          <div class="form-group">
            <label class="control-label col-md-2" for="change-date-input">Date</label>
            <div class="col-md-2">
              <input bs-datepicker type="text" ng-model="plant.change.date"
                     placeholder="required" id="change-date-input" required/>
            </div>
          </div> <!-- .form-group -->

        </div> <!-- .editor-section -->
      </form>

    </tab>

    <!-- <tab heading="Propagation">
    <button class="btn btn-default"><i class="fa fa-plus"></i>Add</button>
    <div ng-include="'/static/partials/propagation-edit.html'"></div>
    </tab> -->

    <!-- <tab heading="Notes">
    <div ng-include="'/static/partials/notes_editor.html'"></div>
    </tab> -->

  </tabset>


  <div class="action-buttons">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
  </div>

</div> <!-- .plant-editor -->
