<div class="editor-section">
  <h5>Cutting treatment</h5>

  <div class="form-group">
    <label class="control-label col-md-2">Cutting type</label>
    <div class="col-md-3">
      <input ng-model="propagation._cutting.cutting_type" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Tip</label>
    <div class="col-md-3">
      <input ng-model="propagation._cutting.tip" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Cutting length</label>
    <div class="col-md-1">
      <input ng-model="propagation._cutting.length" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Cutting length</label>
    <div class="col-md-1">
      <input ng-model="propagation._cutting.length_unit" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Flower buds</label>
    <div class="col-md-2">
      <input ng-model="propagation._cutting.flower_buds" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Leaves</label>
    <div class="col-md-2">
      <input ng-model="propagation._cutting.leaves" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Wounded</label>
    <div class="col-md-2">
      <input ng-model="propagation._cutting.wound" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Leaves reduced by</label>
    <div class="col-md-2">
      <input ng-model="propagation._cutting.leaves_reduced_pct" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->
</div> <!-- .editor-section -->

<div class="editor-section">
  <h5>Rooting conditions</h5>

  <div class="form-group">
    <label class="control-label col-md-2">Rooting media</label>
    <div class="col-md-5">
      <input ng-model="propagation._cutting.media" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Location</label>
    <div class="col-md-3">
      <input ng-model="propagation._cutting.location" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Bottom heat</label>
    <div class="col-md-1">
      <input ng-model="propagation._cutting.bottom_heat_temp" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Bottom heat</label>
    <div class="col-md-1">
      <input ng-model="propagation._cutting.bottom_heat_unit" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Container</label>
    <div class="col-md-3">
      <input ng-model="propagation._cutting.container" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Cover</label>
    <div class="col-md-3">
      <input ng-model="propagation._cutting.cover" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

</div> <!-- .editor-section -->

<div class="editor-section">
  <h5>Chemical treatment</h5>
  <div class="form-group">
    <label class="control-label col-md-2">Fungal</label>
    <div class="col-md-3">
      <input ng-model="propagation._cutting.fungicide" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->

  <div class="form-group">
    <label class="control-label col-md-2">Hormone</label>
    <div class="col-md-3">
      <input ng-model="propagation._cutting.hormone" class="form-control"/>
    </div> <!-- .controls -->
  </div> <!-- .form-group -->
</div> <!-- .editor-section -->

<div class="editor-section">
  <h5>Rooted plants</h5>
</div> <!-- .editor-seection -->
