<search-page id="search-page">

  <div class="search-box">
    <form autocapitalize="off" autocorrect="off" >
      <div class="input-group">
        <!-- <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-cog"></i></button>
        </span> -->
        <input id="search-field" ng-model="query" type="text" autocorrect="off" autocapitalize="off"
               spellcheck="false" placeholder="Enter a search query" class="form-control"
               ng-disabled="loading">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-click="search(query)"
                  ng-disabled="loading || !query">Search</button>
        </span> <!-- .input-grou-btn -->
      </div> <!-- .input-group -->
    </form>
  </div> <!-- .search-box -->


  <div ng-if="loading" id="search-spinner"><i class="fa fa-spinner fa-spin fa-3x"></i></div>

  <div ng-show="message && !loading" class="col-md-12" style="text-align: center">
    {{message}}
  </div>

  <div class="row">

    <div class="col-md-4">
      <accordion>
        <accordion-group ng-if="values.length" ng-repeat="(group, values) in results"
                         class="result-group" is-open="isOpen" close-others="false">
          <accordion-heading>
            {{capitalize(group)}}
            <span class="pull-right">{{values.length}}</span>
          </accordion-heading>
          <ul>
            <li class="result-item" ng-repeat="result in values"
                ng-class="{'selected': $parent.selected.id===result.id}"
                ng-click="itemSelected(group, result)">
              {{result.str}}
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </div> <!-- .col-md-4 -->


    <div class="col-md-8">
      <div ng-show="viewMeta" ng-include="viewMeta.view" class="resource-view"></div>
      <div ng-show="!viewMeta && results && !message">Select something from the list for
        more information.</div>
    </div> <!-- .col-md-8 -->
  </div> <!-- .row -->
</search-page>   <!-- .container -->
