{% extends "base.html" %}
{% block content %}

<div id="search-page" @hashchange="hashChanged">
    <div class="search-box">
        <form autocapitalize="off" autocorrect="off" action="/search" method="GET">
            <div class="input-group">
                <!-- <span class="input-group-btn">
                     <button class="btn btn-default" type="button"><i class="fa fa-cog"></i></button>
                     </span> -->
                <input id="search-field" name="q" type="text" autocorrect="off"
                       autocapitalize="off" spellcheck="false"
                       placeholder="Enter a search query" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="search(query)"
                            ng-disabled="loading || !query">Search</button>
                </span> <!-- .input-grou-btn -->
            </div> <!-- .input-group -->
        </form>
    </div> <!-- .search-box -->


    <!-- <div ng-if="loading" id="search-spinner"><i class="fa fa-spinner fa-spin fa-3x"></i></div> -->

    <!-- <div ng-show="message && !loading" class="col-md-12" style="text-align: center">
         {{message}}
         </div> -->

    <div class="row">
        <div class="col-md-4">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for group, values in results.items() %}
                    {% set heading_id = 'heading-' + group %}
                    {% set collapse_id = 'collapse-' + group %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="{{ heading_id }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#{{ collapse_id }}" aria-expanded="true"
                                   aria-controls="{{ collapse_id }}">
                                    {{ group.capitalize() }}
                                    <span class="pull-right">{{values.length}}</span>
                                </a>
                            </h4>
                        </div>
                        <div id="{{ collapse_id }}" class="panel-collapse collapse in"
                             role="tabpanel" aria-labelledby="{{ heading_id }}">
                            <div class="list-group">
                                <ul>
                                    {% for result in values %}
                                        <li class="result-item" data-resource="{{ result.url }}"
                                            ng-class="{'selected': $parent.selected.id===result.id}"
                                            @click="selectItem">
                                            {{ result.str }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="col-md-8">
            <div ng-show="viewMeta" ng-include="viewMeta.view" class="resource-view"
                 id="resource-view"
            ></div>
            <!-- <div ng-show="!viewMeta && results && !message">Select something from the list for
                 more information.</div> -->
        </div>
    </div>
</div>

{% endblock %}
