<div id="forgot-password-page">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div ng-hide="success">
        <p>Enter your email address and we'll send you the link to reset your password.</p>
        <div class="col-md-8 col-md-offset-2">
          <form role="form">
            <div class="form-group">
              <label for="email-input">Email address</label>
              <input type="email" class="form-control" id="email-input"
                     ng-model="email" placeholder="Enter email">
            </div>

            <button type="submit" class="btn btn-default" ng-click="submit(email)">
              Submit</button>
          </form>
        </div>
      </div>

      <div ng-show="success">
        <p>You should receive an email for instructions on how to reset your
        password.</p>
      </div>


      <alert ng-show="message" type="'danger'" close="error=null"
             style="margin-top: 2em">{{message}}</alert>

    </div> <!-- .col -->
  </div> <!-- .row -->
</div>
