<div id="reset-password-page">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h4>Reset Password</h4>

        <form role="form">
          <div class="form-group">
            <label for="password1-input">Password</label>
            <input type="password" class="form-control" id="password1-input"
                   ng-model="password1" placeholder="Enter password">
            <input type="password" class="form-control" id="password2-input"
                   ng-model="password2" placeholder="Confirm password">
          </div>

          <button type="submit" class="btn btn-default"
                  ng-disabled="password1 && (password1 != password2)"
                  ng-click="submit(email, token, password1)">Submit</button>
        </form>

        <alert ng-show="message" type="'danger'" close="message=null"
             style="margin-top: 2em">{{message}}</alert>

    </div> <!-- .col -->
  </div> <!-- .row -->
</div>
