<div>
  <div class="row">
    <div class="col-md-10">

      <h3>{{taxon.str()}}</h3>

      <h4><a href="#/search?q=family where id%3d'{{taxon.genus.family.id}}'">
        {{taxon.genus.family.str()}}</a></h4>

      <div># of Accessions:
        <a href="#/search?q=accession where taxon.id%3d'{{taxon.id}}'">
          {{counts.accessions}}</a>
      </div>

      <div># of Plants:
        <a href="#/search?q=plant where accession.taxon.id%3d'{{taxon.id}}'">
            {{counts.plants}}</a>
      </div>

      <h4>Vernacular Names</h4>
      {% if taxon.vernacular_names|length > 0 %}
          <ul>
              {% for vn in taxon.vernacular_names %}
                  <li>{{ vn.name }} ({{ vn.language }})</li>
              {% endfor %}
          </ul>
      {% else %}
          <div style="color: #aaa">
              This taxon has no vernacular names.
          </div>
      {% endif %}

      <h4>Synonyms</h4>
      {% if taxon.synonyms|length > 0 %}
          <ul>
              <li>
                  <a href="#/search?q=taxon where id%3d'{{synonym.id}}'">{{synonym.str}}</a>
              </li>
          </ul>
      {% else %}
          <div style="color: #aaa">
              This taxon has no synonyms.
          </div>
      {% endif %}
    </div>

    <div class="col-md-2">
      <div id="summary-buttons">
        <a class="btn btn-default" href="/taxon/{{taxon.id}}/edit">
          <i class="fa fa-pencil"></i>Edit</a>

        <a class="btn btn-default" href="/accession/add?taxon={{taxon.id}}">
          <i class="fa fa-plus"></i>Add Accession</a>

        <a class="btn btn-default" click="delete(taxon.id)">
          <i class="fa fa-trash-o"></i>Delete</a>
      </div>
    </div>

  </div> <!-- .row -->
</div>
