<div name="familyForm" class="bauble-editor" novalidate>

    <h3>{{ family.str() if family.str() != '' else 'New family' }}</h3>


    {% if family.id %}
        {% set action = url_for('.update', id=family.id) %}
    {% else %}
        {% set action = url_for('.create') %}
    {% endif %}

    <form action="{{ action }}" method="POST" class="form-horizontal" role="form">

        <tabset>
            <tab :header="'General'">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <div class="form-group">
                            {{ form.family.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.family(class_="form-control") }}
                                <!-- <input type="text" model="family.family" id="family-input" -->
                                <!--        placeholder="required" class="form-control" name="family" required> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="qualifier-input" class="col-sm-2 control-label">Qualifier</label> -->
                            {{ form.qualifier.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ form.qualifier(class_="form-control") }}
                                <!-- <select ng-model="family.qualifier" class="form-control" -->
                                <!--         id="qualifier-input" -->
                                <!--         ng-options="q for q in qualifiers"> -->
                                <!--   <option value="">-- choose qualifier --</option> -->
                                <!-- </select> -->
                            </div>
                        </div>

                        <!-- Synonyms Form -->
                        <div class="col-md-5 col-md-offset-1">
                            <!-- <synonyms-form model="data.synonyms" placeholder="Family"
                                 query="getSynonyms($viewValue)"></synonyms-form> -->
                        </div>

                    </div>
                </div>
            </tab>  <!-- General tab -->

            <tab :header="'Notes'">
                <div>Notes</div>
                <!-- <div ng-include src="'/static/partials/notes_editor.html'"></div> -->
            </tab>
        </tabset>

        <div class="action-buttons">
            <button class="btn btn-default" :click="cancel">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Save">
            <!-- <button type="submit" class="btn btn-primary" ng-click="save()">Save</button> -->
            <!-- <button type="submit" class="btn btn-primary" ng-click="save(true)">Save and Add Genus</button> -->
        </div>
    </form>
</div>
