<div>
  <div class="row">
    <div class="col-md-10">

      <h3>{{ family.str() }}</h3>

      <div># of Genera:
        <a href="/search?q=genera where family.id%3d'{{family.id}}'"
           loading-spinner="counts.genera">
          {{ counts['genera'] }}</a>
      </div>

      <div># of Taxa:
        <a href="/search?q=taxa where genus.family.id%3d'{{family.id}}'"
           loading-spinner="counts.taxa">
          {{ counts['taxa'] }}</a>
      </div>

      <div># of Accessions:
        <a href="/search?q=accession where taxon.genus.family.id%3d'{{family.id}}'"
           loading-spinner="counts.accessions">
          {{ counts['accessions'] }}</a>
      </div>

      <div># of Plants:
        <a href="/search?q=plant where accession.taxon.genus.family.id%3d'{{family.id}}'"
           loading-spinner="counts.plants">
          {{ counts['plants'] }}</a></div>

      <h4>Synonyms</h4>
      <div ng-show="!family.synonyms || family.synonyms.length < 1" style="color: #aaa">
        This family has no synonyms.
      </div>
      <ul>
        {% for synonym in family.synonyms %}
            <li loading-spinner="family.synonyms">
                <a ng-href="#/search?q=family where id%3d'{{synonym.id}}'">{{synonym.str}}</a>
            </li>
        {% endfor %}
      </ul>

    </div>

    <div class="col-md-2">
      <div id="summary-buttons">
        <a class="btn btn-default" href="/family/{{family.id}}/edit">
          <i class="fa fa-pencil"></i>Edit</a>

        <a class="btn btn-default" href="/genus/add?family={{family.id}}">
          <i class="fa fa-plus"></i>Add Genus</a>

        <a class="btn btn-default" click="delete(family.id)">
          <i class="fa fa-trash-o"></i>Delete</a>
      </div>
    </div>

  </div> <!-- .row -->
</div>
